* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}
body {
	font-family: $content;
	font-size: $base;
	color: $darker;
	letter-spacing: 1px;
	a {
		text-decoration: none;
	}
}

img {
	width: 100%;
	height: auto;
}

.content {
	min-height: 80vh;
}

.container {
	width: 90%;
	margin: 0 auto;
}
