.header {
	z-index: 10;
	background-color: $primary-200;
	a {
		text-decoration: none;
		color: inherit;
	}

	nav {
		width: 90%;
		margin: 0 auto;
		padding: 1rem 0;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.logo {
			// border: 1px solid #ccc;
			font-size: 1.6rem;
			color: $white-200;
			font-family: $logo;
			font-weight: $bold;
			letter-spacing: 4px;
			text-transform: capitalize;
		}
		.navIcon {
			// border: 2px solid $white-300;
			padding: 5px;
			width: 40px;
			height: 40px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			cursor: pointer;
			display: none;
			p {
				background: $white-300;
				width: 25px;
				height: 3px;
				border-radius: 2px;
			}
		}

		.navList {
			// border: 1px solid #ccc;
			display: flex;
			align-items: center;
			justify-content: space-around;
			list-style: none;

			.navItem {
				padding: 0.5rem 1rem;
				color: $white-300;
				font-family: $header;
				font-weight: $normal;
				letter-spacing: 2px;
				text-transform: capitalize;
				&.close {
					display: none;
				}
			}
		}
		@media screen and (max-width: 500px) {
			.header {
				position: relative;
			}
			.navIcon {
				display: flex;
			}
			.navList {
				// border: 1px solid #ccc;

				flex-direction: column;
				justify-content: center;
				position: fixed;
				left: 0;
				top: 100%;
				background: $primary-200;
				width: 100%;
				height: 100%;
				transition: top 0.4s ease-in;
				z-index: 99;
				&.navOpen {
					top: 0;
				}

				.navItem {
					padding: 1rem;

					&.close {
						display: initial;
						// border: 1px solid $white-300;
						font-size: $large;
						text-transform: uppercase;
						padding: 0.5rem 1rem;
						margin-bottom: 3rem;
						cursor: pointer;
						position: absolute;
						right: 20px;
						top: 10px;
					}
				}
			}
		}
	}
}
