@import url("https://fonts.googleapis.com/css?family=El+Messiri|Sail|Poppins&display=swap");

// @import url("https://fonts.googleapis.com/css?family=Audiowide|Lobster+Two|Pacifico|Sail|Satisfy&display=swap");

/* HEX */
$primary-100: #0466c8;
$primary-200: #0353a4;
$primary-300: #023e7d;
$primary-400: #002855;
$dark: #001845;
$darker: #001233;
$light-400: #33415c;
$light-300: #5c677d;
$light-200: #7d8597;
$light-100: #979dac;
$white-100: #ffffff;
$white-200: #f2f2f2;
$white-300: #f9f9f6;

// font weights

$normal: 500;
$bold: 700;
$bolder: 900;

// font weight

$base: 1rem;
$small: 0.8rem;
$medium: 1.5rem;
$large: 2.5rem;

$content: "Poppins", sans-serif;
$logo: "Sail", cursive;
$header: "El Messiri", sans-serif;
// $bellota: "Bellota", cursive;
// $satisfy: "Satisfy", cursive;
// $pacifico: "Pacifico", cursive;
// $lobster: "Lobster Two", cursive;
// $audiowide: "Audiowide", cursive;
