@import url("https://fonts.googleapis.com/css?family=El+Messiri|Sail|Poppins&display=swap");

// @import url("https://fonts.googleapis.com/css?family=Audiowide|Lobster+Two|Pacifico|Sail|Satisfy&display=swap");

/* HEX */
$primary-100: #0466c8ff;
$primary-200: #0353a4ff;
$primary-300: #023e7dff;
$primary-400: #002855ff;
$dark: #001845ff;
$darker: #001233ff;
$light-400: #33415cff;
$light-300: #5c677dff;
$light-200: #7d8597ff;
$light-100: #979dacff;
$white-100: #ffffff;
$white-200: #f2f2f2;
$white-300: #f9f9f6;

// font weights

$normal: 500;
$bold: 700;
$bolder: 900;

$content: "Poppins", sans-serif;
$logo: "Sail", cursive;
$header: "El Messiri", sans-serif;
// $bellota: "Bellota", cursive;
// $satisfy: "Satisfy", cursive;
// $pacifico: "Pacifico", cursive;
// $lobster: "Lobster Two", cursive;
// $audiowide: "Audiowide", cursive;
